.docker-data
.idea
.vscode
.ipynb_checkpoints
.mypy_cache
.env
__pycache__
*.pyc
.pytest_cache
.netlify
htmlcov
site
.coverage
coverage.xml
test.db
log.txt
env3.*
env
docs_build
.venv
venv
.python-version

.DS_Store
.installed.cfg
develop-eggs
dist
downloads
eggs
parts
*.egg-info
lib
lib64
*.egg-info/
